[submodule "react-fundamentals"]
	path = react-fundamentals
	url = https://github.com/JamesWJager/react-fundamentals
[submodule "react-hooks"]
	path = react-hooks
	url = git@github.com:JamesWJager/react-hooks.git
[submodule "advanced-react-hooks"]
	path = advanced-react-hooks
	url = git@github.com:JamesWJager/advanced-react-hooks.git
